	body {
 		border: 1px solid blue     
}
	h1 { 
		text-align:center 
}
	body{ 
	background-color:lightseagreen;
	font-family: papyrus;
}
  h2, p { 
  	margin-left:20px;
}
	a:link{color:black;
}
	a:hover {color:#FF00FF;
}
	a:visited {color:green;
}  